body {
  margin: 0;
  padding: 0;
  font-family: 'pokefont';
  background: linear-gradient(135deg, #fbd95d 0%, #f5a623 100%); /* Pikachu's yellow color gradient */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
